.saludo-usuario {
    font-weight: 500;
    color: var(--azul-oscuro-ADN);
    margin-bottom: 10px;
    font-size: 16px;
}

.titulo-principal-pagina {
    color: var(--azul-oscuro-ADN);
    font-size: 28px;
}


/*Cards del dashboard start*/
.cont-card-unique-dash {
    background-color: var(--azul-oscuro-ADN);
}
.cont-ico-card-dash {
    width: 40px;
}
.cont-titulo-principal-pagina {
    margin-bottom: 15px;
}
.cont-card-unique-dash {
    background-color: var(--azul-oscuro-ADN);
    width: calc(5px + 10vw);
    max-width: 160px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(3px + 1vw);
    border-radius: 10px;
    text-align: center;
    color: white;
    gap: 5px;
}
.card-alert{
    background-color: var(--naranja-ADN) !important;
}
.cont-texts-card-dash {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.descripcion-card-dash {
    
    font-weight: 700;
}
.cont-cards-dash {
    display: flex;
    gap: calc(10px + 2vw);
    flex-wrap: wrap;
    justify-content: center;
}
/*Cards del dashboard end*/


/*Dashboard*/
.chart-avance {
    display: flex;
    justify-content: center;
}