@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
img.imgAmb {
  width: 15%;
}
.titulo{

  font-family: montserrat;
  color: #235298;
  text-align: center;
}
.LogoHeader{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    
  }
  
  .LogoFooter{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
   
  }
  #logosFooter{ 
    margin-top: 20px;
    width: 200px;
  
  }
  img#logo {
    margin-top: 20px;
   }

   .bloqueAzul{
  
    padding: 0;
    background-color:#00569C;
    /*margin-left: -1%;
    margin-right: -1%;*/
    /*position: fixed;*/
    bottom: 0;
    width:100%
    }
    
    
    /*Logo Footer*/
    
    #logoFooter {
      margin-top: 30px;
      width: 200px;
    }
    .centrado{
        display: flex;
        align-items: center;
        /*flex-direction: column; */
        justify-content: center;
        /*width: 100%;
        min-height: 100%;*/
        
       }
       .centradoMargenes{
        display: flex;
        align-items: center;
        /*flex-direction: column; */
        justify-content: center;
        /*width: 100%;
        min-height: 100%;*/
        margin-left: 15%;
        margin-right: 15%;
       }
       p.cuerpo {
        justify-content: center;
        text-align: justify;
        font-family:montserrat;
        font-size: 18px;
    }
    .textoFooter{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        text-align: center;
        font-size: 20px;
        color:#FFFFFF; 
        font-weight:bold
         
      
       }
      
       .spanFooter{
        text-align: center;
        color:#FFFFFF; 
        font-family: montserrat;
       }
      
      
       .copyRFooter{
        color: #ffffff;
        font-size: 15px;
      
        margin-bottom: 30px;
        font-family: montserrat;
       }
      

       footer {
        /* position: absolute; */
        bottom: 0;
        width: 100%;
        background-color: #D89E0B;
        margin-top: auto;
    }















   /*Logo*/
@media (min-width: 2000px) and (max-width: 2500px) {
    img#logo {
     /* width: 100%;*/
         width: 600px !important;
    }
  }
  @media (min-width: 1500px) and (max-width: 2000px) {
    img#logo {
      width: 550px !important;
    }
    
     }
  
     @media (min-width: 900px) and (max-width: 1500px) {
      img#logo {
        width: 450px !important;
      }
      
       }
       @media (min-width: 700px) and (max-width: 900px) {
        img#logo {
          width: 400px !important;
        }
        
         }
  
  
  
  
       @media (max-width: 700px) {
        img#logo {
          width: 100%;
        }
        
         }