.cuerpo-extra{
    display: none;
    flex: 1;
    padding-right: calc(5px + 2vw);
    padding-left: calc(5px + 2vw);
}

.details_body{
    display: flex;
    justify-content: center;
}

.img_box {
    width: 14rem;
    height: 12rem;
    border-radius: 1rem;
    overflow: hidden;
    /*margin-bottom: 2rem;*/
}
.box_content{
    margin-bottom: 2rem;
}

.parque_img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


.info_text{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.input_header{
    font-size: small;
    font-weight: initial;
}
.input_reservacion{
    font-size: 130%;
    font-weight: 700;
    font-family: 'montserrat';
}

#input_long{
    font-size: large;
    font-weight: initial;
}

.img_text{
    width: 16rem;
}

.title{
    display: flex !important;
}

/*
    ||======================================
    || MEDIA QUERY
    ||======================================
*/

@media (max-width: 890px) {
    .menu-side-bar{
        width: calc(0px + 22vw);
    }
}



.cuerpo-extra{
    margin-left: calc(24px + 22vw);
}

@media (max-width: 770px){
    .details_body{
        display: block !important;
        text-align: -webkit-center;
    }
}

@media (max-width: 720px){
    .title_2{
        display: none;
    }
    .title{
        justify-content: center;
    }
}

@media (max-width: 530px){
    .text_flex{
        gap: initial;
    }
    .cuerpo-extra{
        margin-left: calc(24px + 20vw);
    }
}

@media (max-width: 500px){
    .cuerpo-extra {
        margin-left: auto !important;
    }
}
