.cuerpo-extra{
    display: none;
    flex: 1;
    padding-right: calc(5px + 2vw);
    padding-left: calc(5px + 2vw);
    margin-left: calc(24px + 22vw);
}

.details_body{
    display: flex;
    justify-content: center;
}

.img_box {
    width: 14rem;
    height: 12rem;
    border-radius: 1rem;
    overflow: hidden;
    /*margin-bottom: 2rem;*/
}
.box_content{
    margin-bottom: 2rem;
}

.parque_img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


.info_text{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.input_header{
    font-size: small;
    font-weight: initial;
}
.input_reservacion{
    font-size: 130%;
    font-weight: 700;
    font-family: 'montserrat';
}

#input_long{
    font-size: large;
    font-weight: initial;
}

.img_text{
    width: 16rem;
}



/*
    //================================
    MODAL CONFIRMACION
    //================================
*/

.modal_confirmacion{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_confirmacion_contenido{
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 35%;
    max-width: 600px;
    position: relative;
    /*top: 8rem;*/
    top: 2rem;
    margin-bottom: 3rem;
    border-radius: 0.4rem;
    min-width: 240px;
}

.modal_top{
    font-size: x-large;
    border-bottom: 1px solid;
    padding-bottom: 0.6rem;
    font-weight: 600;
}

.modal_mid{
    margin-top: 1rem;
    font-size: large;
    /*font-style: italic;*/
}

.modal_bottom{
    margin-top: 1rem;
    /*border-top: 1px solid;*/
}
.modal_bottom .btn_section_confirmacion{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.4rem;
    justify-content: flex-end;
}

.btn_rechazar_modal{
    background-color: var(--rojo-ADN);
    color: white;
}
.btn_rechazar_modal:hover{
    box-shadow: 0px 0px 0px 4px #c412209e;
}
.btn_rechazar_modal:active{
    transform: scale(.9);
}

.btn_confirmar_modal{
    background-color: var(--Azul);
    color: white;
}
.btn_confirmar_modal:hover{
    box-shadow: 0px 0px 0px 4px #00569c8a;
}
.btn_confirmar_modal:active{
    transform: scale(.9);
}


.solicitud_card{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
    margin-top: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    gap: 4px;
}
.solicitud_card svg{
    fill: var(--Azul);
    height: 2rem;
}
.solicitud_card:hover{
    background-color: var(--GrisB);
    border-radius: 0.4rem;
}

.btn_style {
    width: fit-content;
    text-align: center;
    /* padding: 1rem; */
    padding: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.15s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.btn_aceptar{ /*Accion_botones btn_aceptar */
    width: 0.7cm;
    height: 0.7cm;
    border-radius: 0.3cm;
    cursor: pointer;
    fill: white;
    /*background-color: green;*/
    background-color: var(--Azul);
    padding: 0.1cm;
    padding-right: 7px;
    padding-left: 7px;
}

.btn_rechazar{ /*Accion_botones btn_aceptar */
    width: 0.7cm;
    height: 0.7cm;
    border-radius: 0.3cm;
    cursor: pointer;
    fill: white;
    background-color: red;
    padding: 0.1cm;
    padding-right: 7px;
    padding-left: 7px;
}



/*
    ||======================================
    || MEDIA QUERY
    ||======================================
*/

@media (max-width: 890px) {
    .menu-side-bar{
        width: calc(0px + 22vw);
    }
}



/*
    ||----------------------
*/


/*
.cuerpo-extra{
    margin-left: calc(24px + 22vw);
}
*/
@media (max-width: 770px){
    .details_body{
        display: block !important;
        text-align: -webkit-center;
    }
}

@media (max-width: 720px){
    .title_2{
        display: none;
    }
    .text_flex{
        justify-content: center;
    }
}

@media (max-width: 530px){
    .text_flex{
        gap: initial;
    }
    .cuerpo-extra{
        margin-left: calc(24px + 20vw);
    }
}


@media (max-width: 500px){
    .cuerpo-extra {
        margin-left: auto !important;
    }
}